.admin-container {
    padding: 1.25rem;
    margin-left: 15.625rem;
    margin-top: 1.25rem;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}

.admin-table {
    width: 100%;
    min-width: 43.75rem;
    border-collapse: collapse;
}

.admin-table th,
.admin-table td {
    padding: 0.625rem;
    text-align: left;
}

.admin-table th {
    background-color: #f4f4f4;
}

.admin-table tr {
    border-bottom: 0.0625rem solid #ddd;
}

.admin-table td {
    border-bottom: 0.0625rem solid #ddd;
}

.editbtn,
.deletebtn {
    margin: 0.3125rem;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 0.25rem;
}

.timelogs-table td.green {
    color: green;
    font-weight: bold;
}

.timelogs-table td.red {
    color: red;
    font-weight: bold;
}


.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
}

.pagination-info {
    font-size: 0.9rem;
    color: #555;
}

.pagination-arrows {
    display: flex;
    gap: 0.5rem;
}

.pagination-arrow {
    background-color: #02298A;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-arrow:hover {
    background-color: #4880FF;
}

.pagination-arrow:disabled {
    background-color: #CCC;
    cursor: not-allowed;
}


@media (max-width: 48rem) {
    .timelogs-container {
        margin-left: 0;
    }

    .timelogs-table {
        font-size: 0.875rem;
    }

    .table-wrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 30rem) {
    .admin-table {
        font-size: 0.75rem;
    }

    .admin-table th,
    .admin-table td {
        padding: 0.5rem;
    }
}
.admin-modal-container .modal-content {
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    align-items: stretch; 
    max-width: 800px;
    width: 100%; 
    margin: 0 auto;
    height: 100%;
}

.admin-modal-container .modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; 
    max-width: 800px;
    height: auto; 
}

.admin-modal-container .admin-modal-header {
    border-bottom: 1px solid #ddd;
    background-color: #007bff;
    color: white;
    padding: 15px;
    border-radius: 8px 8px 0 0;
    overflow: hidden; 
}

.admin-modal-container .admin-modal-header .close {
    color: white;
    font-size: 1.5rem;
    opacity: 1;
}

.admin-modal-container .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.admin-modal-container .admin-modal-body {
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    flex-grow: 1; 
    overflow-y: auto; 
}

.module-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.module-name {
    font-weight: bold;
    flex: 1;
    text-align: left;
    padding-left: 15px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
    flex: 2;
    padding-right: 15px;
}

.checkbox-item {
    margin: 0 10px;
}

.admin-modal-footer {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.admin-modal-btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.admin-modal-btn-secondary {
    background-color: #ddd;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.admin-modal-btn-primary:hover {
    background-color: #0056b3;
}

.admin-modal-btn-secondary:hover {
    background-color: #ccc;
}
