.dashboard-container {
    display: flex;
}

.dashboard-content {
    margin-left: 15.625rem;
    padding: 3.125rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.dashboard-header h1 {
    margin: 0;
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
    margin-top: 1.25rem;
}

.grid-item {
    background-color: white;
    padding: 0.625rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.grid-item .text-container {
    flex: 1;
}

.grid-item h1 {
    margin: 0.3125rem 0;
    font-size: 1.75rem;
    color: black;
}

.grid-item p {
    margin: 0;
    font-size: 1rem;
    color: gray;
}

.grid-image {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50%;
    object-fit: cover;
}


.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    padding: 0 1.5rem;
}

.pagination-info {
    font-size: 0.9rem;
    color: #555;
}

.pagination-arrows {
    display: flex;
    gap: 0.5rem;
}

.pagination-arrow {
    background-color: #02298A;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-arrow:hover {
    background-color: #4880FF;
}

.pagination-arrow:disabled {
    background-color: #CCC;
    cursor: not-allowed;
}
