.timelogs-container {
    padding: 1.25rem;
    margin-left: 15.625rem;
    margin-top: 1.25rem;
}
.timelogs-container p{
    font-size: 35px;
    font-weight: 500;
    padding-left: 20px;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
}

.timelogs-table {
    width: 100%;
    min-width: 43.75rem;
    border-collapse: collapse;
}

.timelogs-table th,
.timelogs-table td {
    padding: 0.625rem;
    text-align: center;
}

.timelogs-table th {
    background-color: #f4f4f4;
}

.timelogs-table tr {
    border-bottom: 0.0625rem solid #ddd;
}

.timelogs-table td {
    border-bottom: 0.0625rem solid #ddd;
}

.editbtn,
.deletebtn {
    margin: 0.3125rem;
    padding: 0.3125rem 0.625rem;
    cursor: pointer;
    background-color: white;
    border: none;
    border-radius: 0.25rem;
}

.timelogs-table td.green {
    color: green;
    font-weight: bold;
}

.timelogs-table td.red {
    color: red;
    font-weight: bold;

}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0 1rem;
}

.pagination-info {
    font-size: 0.9rem;
    color: #555;
}

.pagination-arrows {
    display: flex;
    gap: 0.5rem;
}

.pagination-arrow {
    background-color: #02298A;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-arrow:hover {
    background-color: #4880FF;
}

.pagination-arrow:disabled {
    background-color: #CCC;
    cursor: not-allowed;
}


@media (max-width: 48rem) {
    .timelogs-container {
        margin-left: 0;
    }

    .timelogs-table {
        font-size: 0.875rem;
    }

    .table-wrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 30rem) {
    .timelogs-table {
        font-size: 0.75rem;
    }

    .timelogs-table th,
    .timelogs-table td {
        padding: 0.5rem;
    }
}
